<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/plot.js"></script>
  </head>
  <body>
    <h1>GVasp 态密度图绘制</h1>
    <div>
      <form id="lind-width" method="POST">
        <label for="inputData">线宽</label>
        <input
          type="text"
          id="inputData"
          name="lineWidth"
          oninput="checkNum()"
        />
        <input type="submit" onclick="plot()" value="重新绘制" />
      </form>
    </div>
    <embed src="../static/image.svg" />
  </body>
</html>
